
<h1>Listings</h1>
<div class="container mt-4">
  <%= link_to 'Add new Listing', new_listing_path, class: 'btn btn-primary mb-3' %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Created At</th>
        <th>Last synced at</th>
        <th>Status</th>
        <th>URL</th>
      </tr>
    </thead>
    <tbody data-controller="listings" data-action="click->listings#open">
      <% @listings.each do |listing| %>
        <tr>
          <td><%= link_to(listing.created_at, listing_path(listing)) %></td>
          <td><%= listing.updated_at %></td>
          <td><%= listing.scrape_status.humanize %></td>
          <td><%= listing.url.truncate(80) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
