<h1>Add URL</h1>

<%= form_with(model: @listing, local: true) do |form| %>
  <% if @listing.errors.any? %>
    <div class="errors">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>
      <ul>
        <% @listing.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :url %>
    <%= form.text_field :url, required: true %>
  </div>

  <div>
    <%= form.submit "Save URL" %>
  </div>
<% end %>
